.jumbo1 {
 padding: 10px 25px 10px 25px;
 padding-bottom: 56.25%;
}
.btn{
    background-color: #18a4bc !important;
    border-color: #18a4bc !important;
}
.button1{
 width: 33%;
 margin-bottom: 5px;
}
.button2{
    width: 33%;
    margin-bottom: 5px;
}
.button3{
    width: 33%;
    margin-bottom: 5px;
}
.AB1{
    margin-bottom: 25px;
}
.button1a{
  
    width: 49%;
}
.button2a{

    width: 49%;
}
.ABP{
    width: 8%;
    margin-left: 150px;
   
}
.PrPh{
    width:5%;
}